<div class="list-group">
    <a href="/Admin/Dashboard" class="list-group-item list-group-item-action">панель управління</a>
    <a href="/Admin/Users" class="list-group-item list-group-item-action">користувачі</a>
    <a href="/Admin/Settings" class="list-group-item list-group-item-action">налаштування</a>
    <a href="/Admin/Reports" class="list-group-item list-group-item-action">звіти</a>
</div>
