<div class="navbar-nav">
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">головна</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Users">користувачі</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Profile">профіль</a>
</div>
